<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaeho.atgg.mapper.MatchMapper">
	
	<select id="getMatchReferenceList" resultType="com.jaeho.atgg.domain.match.MatchReferenceVO">
		select *
		from (
			select @ROWNUM:=@ROWNUM+1 rownum, A.*
			from MatchReference A, (select @ROWNUM:=0) R
    	) rownum
		where rownum between #{beginIndex} and #{endIndex}
	</select>
	
	<select id="getTeamsList" resultType="com.jaeho.atgg.domain.match.TeamsVO">
		select *
		from Teams
		where gameId = #{gameId}
	</select>
	
	<select id="getParticipantList" resultType="com.jaeho.atgg.domain.match.ParticipantVO">
		select *
		from Participant
		where gameId = #{gameId}
	</select>
	
	<select id="getParticipantStatsList" resultType="com.jaeho.atgg.domain.match.ParticipantStatsVO">
		select *
		from ParticipantStats
		where gameId = #{gameId}
	</select>
	
	<insert id="insertMatchList">
		insert into MatchReference(matchId, name, gameId, timestamp, role, lane, champion, queue) 
				values(null, #{name}, #{gameId},#{timestamp},#{role},#{lane},#{champion},#{queue})
	</insert>

</mapper>